body {
    background-color:black;
    width: 100%;
    height: 100%;
    background-size: contain;
    color:white;
}

#calendar{
    display: flex;
    justify-content: center;
}

.rdp{
    --rdp-background-color: gray;;
}

#info-box{
    display: flex;
    justify-content: center;
}